<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex; flex-direction: column; width: 100%;">
        {% for pair in image_pairs %}
            <div style="width:100%">
                {% for img in pair %}
                    <img src="{{ img }}">
                {% endfor%}
            </div>
        {% endfor %}
    </div> 
</body>
</html>